<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">TUREUS</a>

        <ul hidden>
            <li class="pure-menu-selected"><a href="#">Home</a></li>
            <li><a href="#">Tour</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">For a Rich, Modern Web</h1>
        <p class="splash-subhead">
          Solutions to modern web problems
        </p>
        <p>
          <a href="mailto:xrlange@tureus.com?subject=Just wanted%20to%20say%20hi!" class="pure-button pure-button-primary">
            Say 'Hi' to Xavier
          </a>
        </p>
    </div>
</div>